.header {
    &_wrap {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      @media screen and (max-width: 768px) { 
        padding: 20px;
      }
      padding: 4rem 0 7rem 0;
    }
    &_lang {
        display: flex;
        width: 120px;
        height: 50px;
        border-bottom: 1px solid #ddd;
        button{
            background-color: transparent;
            flex: 1;
            color: $black;
            font-size: $fs18;
        }
    }
  }