 
.all { 
    &_skip {
        position: relative;
        z-index: 3000;
    }
    &_cursor {
        position: absolute;
        left: 0;
        top: 0;
        width: 25px;
        height: 25px; 
        z-index: 10000;
        pointer-events:  none;
        span {   
            opacity: 0;
        }
        div {
            position: fixed;
            width: 25px;
            height: 25px;
            background-color: rgba(107, 107, 107, 0.247); 
            border-radius: 50%;  
            box-sizing: border-box;  
            transform: scale(0.8) translate(-50%,-50%); 
            pointer-events:  none;
        }  
        :global {
            .scale {
                transition: .3s linear !important;
                transform: scale(1.2) translate(-50%,-50%); 
            }
            .pink {
                width: 85px;
                height: 85px; 
                line-height: 80px;
                transition: .5s cubic-bezier(0, 0, 0.2, 1) !important; 
                transform: translate(-42.5%, -42.5%);
                background-color:#ff028e;
                border: none; 
                 span { 
                    opacity: 1;
                    transition: all 0.5s linear;
                    color: $white;
                    display: inline-block;
                    vertical-align: middle;
                    font-family: $noto-medium;
                    font-size: $fs16;  
                    line-height: 1;
                    text-align: center; 
                }
            }
            .red {
                width: 85px;
                height: 85px; 
                line-height: 80px;
                transition: .5s cubic-bezier(0, 0, 0.2, 1) !important; 
                transform: translate(-42.5%, -42.5%);
                background-color:red;
                border: none; 
                 span {  
                    opacity: 1;
                    transition: all 0.5s linear;
                    color: $white;
                    display: inline-block;
                    vertical-align: middle;
                    font-family: $noto-medium;
                    font-size: $fs16;  
                    line-height: 1;
                    text-align: center; 
                }
            }
            .orange {
                width: 85px;
                height: 85px; 
                line-height: 80px;
                transition: .5s cubic-bezier(0, 0, 0.2, 1) !important; 
                transform: translate(-42.5%, -42.5%);
                background-color:rgb(255, 102, 0);
                border: none; 
                 span {  
                    opacity: 1;
                    transition: all 0.5s linear;
                    color: $white;
                    display: inline-block;
                    vertical-align: middle;
                    font-family: $noto-medium;
                    font-size: $fs16;  
                    line-height: 1;
                    text-align: center; 
                }
            }
            .yellow {
                width: 85px;
                height: 85px; 
                line-height: 80px;
                transition: .5s cubic-bezier(0, 0, 0.2, 1) !important; 
                transform: translate(-42.5%, -42.5%);
                background-color:rgb(226, 223, 39);
                border: none; 
                 span {  
                    opacity: 1;
                    transition: all 0.5s linear;
                    color: $white;
                    display: inline-block;
                    vertical-align: middle;
                    font-family: $noto-medium;
                    font-size: $fs16;  
                    line-height: 1;
                    text-align: center; 
                }
            }
        }
    }
    &_link {
        position: absolute;
        top: -30px;
        left: 0; 
        background: $white;
        padding: 8px 15px;
        text-align: center;
        opacity: 0; 
        border-radius: 5px;
        margin: 10px;
        border: 1px solid transparent;
        span {
            display: inline-block;
            font-family: $noto-medium;
            color: $darkgray;
            letter-spacing: -1px;
            white-space: nowrap;
        }
        &:focus { 
            top: 0;
            background-color: rgb(255, 220, 34);
            border: 1px solid $darkgray;
            text-decoration: none;
            z-index: 1000;
            opacity: 1;
        }
    } 
} 


// 태블릿
@media all and ( max-width: $t-width ) {
.all { 
        &_cursor {
            display: none;
        }
    }
}