@mixin ct {
    display: flex;
    align-items: center;
    justify-content: center;
  }
@mixin Afont {
font-family: 'karla', sans-serif;
}

@mixin Bfont {
font-family: 'Playfair Display', sans-serif;
}

// Custum font-size 
$fs12: 12px; 
$fs14: 14px; 
$fs16: 16px; 
$fs18: 18px; 
$fs20: 20px; 
$fs22: 22px; 
$fs24: 24px; 
$fs28: 28px; 
$fs33: 33px; 
$fs30: 30px; 
$fs36: 36px; 
$fs38: 38px; 
$fs44: 44px; 
$fs50: 50px; 
$fs60: 60px; 
$fs65: 65px; 
$fs70: 70px; 
$fs75: 75px; 
$fs80: 80px;
$fs85: 85px;
$fs90: 90px;
$fs96: 96px;
$fs116: 116px; 
$fs148: 148px; 
$fs220: 220px; 
$fs325: 325px; 

//Custum font-weight
$fw100: 100; 
$fw300: 300;
$fw500: 500; 
$fw800: 800; 
$fw900: 900; 

// Custom line-height
$lineH: 1;

// Custom layout
$width: 1700px; // pc
$d-width: 1080px; // 노트북
$t-width: 768px; //  태블릿
$m-width: 480px; // mobile
$pc: "only screen and (min-width : 769px)"; // 피시
$phone: "only screen and (max-width : 769px)"; // 모바일


// font - NotoSans
$noto-bold : 'NotoSans-Bold'; 
$noto-medium : 'NotoSans-Medium'; 
$noto-regular : 'NotoSans-Regular'; 
$noto-light : 'NotoSans-Light';
$noto-thin : 'NotoSans-Thin';

// font - poppins
$courgette-r : 'Courgette-Regular';

$popins-extra-b : 'Poppins-ExtraBold';
$popins-extra-l : 'Poppins-ExtraLight'; 
$popins-bold : 'Poppins-Bold'; 
$popins-light : 'Poppins-Light'; 
$popins-medium : 'Poppins-Medium'; 
$popins-regular : 'Poppins-Regular'; 
$popins-semi-bold : 'Poppins-SemiBold'; 
$popins-thin : 'Poppins-Thin'; 

$exo2 : 'Exo-2';

// Custom color
$black: #000;
$darkgray:  #2b2b2b; 
$white: #fff; 
$white-op1: #f8f8f8;
$white-op2:  #f1f1f1;
$gray: #656565;
$lightgray: #8b8b8b;
$darkgreen: #586b00;
$darkgreen2: #2b2b2b;
$yellow: rgb(255, 220, 34);